@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;

500;600;700&display=swap");

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}

.noUi-connect {
  height: 100%;
  width: 100%;
}

.noUi-origin {
  height: 10%;
  width: 10%;
}

html:not([dir=rtl]) .noUi-horizontal .noUi-origin {
  left: auto;
  right: 0;
}

.noUi-vertical .noUi-origin {
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  transition: transform 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

.noUi-horizontal {
  height: 18px;
}

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  left: -17px;
  top: -6px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px;
}

html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
  right: -17px;
  left: auto;
}

.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}

.noUi-connects {
  border-radius: 3px;
}

.noUi-connect {
  background: #3FB8AF;
}

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}

.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}

.noUi-handle:after,
.noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}

.noUi-handle:after {
  left: 17px;
}

.noUi-vertical .noUi-handle:after,
.noUi-vertical .noUi-handle:before {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}

[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled] .noUi-handle,
[disabled].noUi-handle,
[disabled].noUi-target {
  cursor: not-allowed;
}

.noUi-pips,
.noUi-pips * {
  box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

.noUi-marker {
  position: absolute;
  background: #CCC;
}

.noUi-marker-sub {
  background: #AAA;
}

.noUi-marker-large {
  background: #AAA;
}

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  transform: translate(0, -50%);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.main__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__title1 {
  font-weight: bold;
  font-size: 50px;
  line-height: 68px;
}

.no-webp .main__reiting{
  background: url(../img/star.png) no-repeat left; }

.main__reiting {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.main__reiting span {
  color: #a6a6a6;
}

.main__line {
  width: 100%;
  height: 1px;
  background: #dcdcdc;
  border-radius: 13px;
}

.main__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.main__text {
  font-size: 16px;
  line-height: 142.5%;
  margin-bottom: 30px;
  width: 580px;
}

.main__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #0075ff;
  border-radius: 13px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  width: 285px;
  min-height: 62px;
}

.main__reviews {
  background: rgba(67, 197, 158, 0.11);
  border-radius: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #43c59e;
  padding: 12px 25px;
}

.reviews {
  padding-top: 108px;
}

.item-reviews {
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  border-radius: 19px;
  padding: 38px 48px;
  margin-bottom: 20px;
}

.item-reviews__row {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-between;
  align-items: center;
}

.item-reviews__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-right: 30px;
}

.item-reviews__pair {
  display: flex;
  align-items: center;
}

.item-reviews__rev {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  border-radius: 24px;
  padding: 10px 14px;
}

.item-reviews__green {
  color: #43c59e;
  background: rgba(67, 197, 158, 0.11);
}

.item-reviews__red {
  color: #ef476f;
  background: rgba(239, 71, 111, 0.12);
}

.item-reviews__date {
  text-align: right;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  justify-self: flex-end;
}

.item-reviews__text {
  font-size: 16px;
  line-height: 152.9%;
  margin-bottom: 12px;
}

.item-reviews__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-reviews__icons {
  display: flex;
}

.item-reviews__icon {
  position: relative;
  margin-left: 12px;
  background: #f7f7f7;
  border-radius: 7px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-reviews__icon span {
  position: absolute;
  font-weight: 600;
  font-size: 8px;
  line-height: 152.9%;
  background: #dfdfdf;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  top: 0;
  right: 0;
}

.review-forms {
  padding-top: 120px;
}

.review-form {
  padding: 40px 45px;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  border-radius: 19px;
}

.review-form__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 18px;
}

.review-form__text {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 50px;
}

.review-form__input {
  display: block;
  height: 62px;
  margin-bottom: 20px;
  width: 100%;
  padding-left: 30px;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  border-radius: 9px;
}

.review-form__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.33);
  font-size: 16px;
  line-height: 142.5%;
}

.review-form__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.33);
  font-size: 16px;
  line-height: 142.5%;
}

.review-form__input::placeholder {
  color: rgba(0, 0, 0, 0.33);
  font-size: 16px;
  line-height: 142.5%;
}

.review-form__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.review-form__rei {
  font-size: 16px;
  line-height: 142.5%;
  margin-bottom: 10px;
}

.review-form__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  display: inline-block;
  padding: 21px 60px;
  background: #0075ff;
  border-radius: 9px;
}

.stock__title {
  font-weight: bold;
  font-size: 50px;
  line-height: 68px;
  text-align: center;
}

.stock__text {
  font-size: 16px;
  line-height: 142.5%;
  text-align: center;
  max-width: 727px;
  margin: 0 auto;
}

.stock__block {
  margin-top: 93px;
}

.block-stock {
  display: flex;
  border-radius: 31px;
  border: 1px solid #d9d9d9;
  overflow: hidden;
}

.no-webp .block-stock__left{
  background: url(../img/bgblu.png) no-repeat; }

.block-stock__left {
  background-position: left 0 top 0;
  flex: 0 1 50%;
  padding-left: 30px;
}

.block-stock__img {
  margin-top: 40px;
  margin-bottom: 30px;
  color: #fff;
  font-size: 45px;
}

.block-stock__sub-title {
  font-weight: 500;
  font-size: 19px;
  line-height: 142.5%;
  margin-bottom: 126px;
  color: #ffffff;
}

.block-stock__sale {
  font-weight: 600;
  font-size: 25px;
  line-height: 44px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 10px;
}

.block-stock__from {
  font-weight: 600;
  font-size: 25px;
  line-height: 44px;
  text-transform: uppercase;
  background: #f40000;
  border-radius: 62px;
  padding: 12px 25px;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 50px;
}

.no-webp .block-stock__right{
  background: url(../img/books.png) no-repeat; }

.block-stock__right {
  flex: 0 1 50%;
  background-position: top -55px left 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.block-stock__button {
  font-weight: 600;
  font-size: 19px;
  line-height: 142.5%;
  color: #fff;
  background: #0075ff url(../img/ne.svg) no-repeat center right 40px;
  box-shadow: -2px -5px 21px rgba(0, 0, 0, 0.1);
  border-radius: 31px 0px;
  display: inline-block;
  padding: 27px 65px;
}

.test {
  padding-top: 92px;
}

.test__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.test__title {
  font-weight: bold;
  font-size: 50px;
  line-height: 68px;
  max-width: 730px;
  margin-bottom: 30px;
}

.test__green {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #43c59e;
  background: rgba(67, 197, 158, 0.11);
  border-radius: 24px;
  padding: 13px 22px;
  margin-top: 55px;
}

.test__text {
  font-size: 16px;
  line-height: 142.5%;
  max-width: 626px;
  margin-bottom: 87px;
}

.test__sleders {
  position: relative;
}

.sleders-test__item {
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.07);
  border-radius: 19px;
  padding-top: 38px;
  padding-left: 48px;
  position: relative;
}

.sleders-test__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 34px;
}

.sleders-test__label {
  display: block;
  font-size: 16px;
  line-height: 142.5%;
}

.sleders-test__input {
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  border-radius: 4px;
}

.sleders-test__button {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #0075ff;
  border-radius: 9px;
  border: 0;
  box-sizing: border-box;
  padding: 22px 36px;
  margin-top: 35px;
  cursor: pointer;
  margin-bottom: 50px;
}

.sleders-test__abs {
  border: 1px solid #0075ff;
  box-sizing: border-box;
  border-radius: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #0075ff;
  display: inline-block;
  padding: 17px 20px;
  position: absolute;
  top: 50px;
  right: 50px;
}

/* Ограничивающая оболочка */

.slick-list {
  width: 100%;
}

/* Лента слайдов */

.slick-track {
  display: flex;
  margin: 0 -55px;
}

/* Стрелка */

.slick-arrow {
  width: 55px;
  height: 55px;
  font-size: 0;
  position: absolute;
  top: -30%;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

/* Стрелка влево */

.no-webp .slick-arrow.slick-prev{
  background: url(../img/sp.png) no-repeat center; }

.slick-arrow.slick-prev {
  border: 1px solid #0075ff;
  border-radius: 10px;
  right: 25%;
}

/* Стрелка вправо */

.no-webp .slick-arrow.slick-next{
  background: #0075ff url(../img/sn.png) no-repeat center; }

.slick-arrow.slick-next {
  right: 20%;
}

.slick-slide {
  margin: 0 55px;
  width: 990px;
}

body,
html {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

a {
  text-decoration: none;
}

body.mouse .menu__list > li:hover .sub-menu__list {
  display: block;
}

body.mouse .sub-menu__list > li:hover .sub-sub-menu__list {
  display: block;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 10px solid #e6e6e6;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  right: 15px;
  top: 6px;
  z-index: 100;
}

.menu li {
  position: relative;
}

.menu__border {
  position: relative;
}

.sub-menu__list {
  position: absolute;
  left: 45px;
  top: 20px;
  padding-top: 50px;
  min-width: 270px;
  display: none;
}

.sub-menu__list > li {
  background: #ffffff;
}

.sub-menu__link {
  color: rgba(0, 0, 0, 0.46);
  padding: 15px 21px;
  display: inline-block;
}

.sub-sub-menu__list {
  position: absolute;
  top: 0;
  left: 100%;
  padding-left: 20px;
  min-width: 200px;
  text-align: center;
  display: none;
}

.sub-sub-menu__list > li {
  background: #fff;
}

.sub-sub-menu__link {
  color: #000;
  display: inline-block;
  padding: 5px 10px;
}

.header {
  padding-top: 20px;
}

.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-weight: 500;
  font-size: 22px;
  line-height: 68px;
  position: relative;
  z-index: 10;
  display: block;
  color: #000;
}

.header__bottom {
  margin-top: -10px;
}

.menu__line {
  width: 95%;
  left: 50%;
  margin-left: -47.5%;
  height: 2px;
  background: #dcdcdc;
  position: absolute;
  top: 80px;
  display: none;
}

.menu__line.active {
  display: block;
}

.menu__list {
  display: flex;
}

.menu__list.active {
  top: 0;
}

.menu__border {
  border: 1px solid #0075ff;
  box-sizing: border-box;
  border-radius: 70px;
  padding: 15px 39px;
  margin-right: 5px;
}

.menu__link {
  font-size: 16px;
  line-height: 142.5%;
  color: #000;
  margin-left: 43px;
}

.menu__link:hover {
  color: #0075ff;
}

.menu__burger {
  position: relative;
  height: 16px;
  width: 20px;
  display: none;
  transition: all 0.5s;
}

.menu__burger:before {
  content: "";
  width: 25px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  transition: all 0.3s;
}

.menu__burger:after {
  content: "";
  width: 25px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #000;
  transition: all 0.3s;
}

.menu__burger span {
  width: 25px;
  height: 2px;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 0;
  background: #000;
}

.menu__burger.active:before {
  transform: rotate(45deg);
  top: 7px;
}

.menu__burger.active:after {
  transform: rotate(-45deg);
  bottom: 7px;
}

.menu__burger.active span {
  display: none;
}

.bottom-header {
  display: flex;
  align-items: center;
}

.bottom-header__text {
  font-size: 16px;
  line-height: 142.5%;
}

.bottom-header__text:last-child {
  color: #0075ff;
}

.bottom-header__arrow {
  margin: 0 13px;
  display: flex;
  align-items: center;
}

.main {
  padding-top: 100px;
}

.main__title {
  font-weight: bold;
  font-size: 50px;
  line-height: 68px;
  text-align: center;
  margin-bottom: 70px;
}

.rere {
  overflow-x: auto;
}

.tabs {
  width: 1170px;
}

.tabs__items {
  display: flex;
}

.tabs__item {
  flex: 1 1 20%;
  text-align: center;
  background: #ffffff;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.05);
  height: 95px;
  line-height: 95px;
  display: block;
}

.tabs__item:first-child {
  border-radius: 13px 0px 0px 13px;
}

.tabs__item:last-child {
  border-radius: 0px 12px 12px 0px;
}

.tabs__item.active {
  background: #000;
}

.tabs__block {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 34px;
  font-size: 16px;
  line-height: 142.5%;
  display: none;
}

.tabs__block:target {
  display: block;
}

.no-webp .block-main{
  background: url(../img/bgb.png) no-repeat; }

.block-main {
  background-position: 101%;
  background-size: auto 100%;
  margin-top: 76px;
  display: flex;
  justify-content: space-between;
  padding-left: 46px;
  margin-bottom: 50px;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  box-shadow: 0px 0px 38px rgba(0, 0, 0, 0.05);
  border-radius: 26px;
}

.block-main__text {
  margin-top: 40px;
  margin-bottom: 70px;
  font-weight: 600;
  font-size: 28px;
  line-height: 39px;
}

.block-main__buttons {
  display: flex;
}

.block-main__button {
  font-weight: 600;
  font-size: 16px;
  line-height: 142.5%;
  padding: 25px 30px;
  color: #0075ff;
  border: 1px solid #0075ff;
  box-sizing: border-box;
  border-radius: 11px;
  margin-right: 17px;
  cursor: pointer;
}

.course {
  padding-top: 103px;
  padding-bottom: 37px;
}

.course__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 68px;
  margin-bottom: 20px;
}

.course__filter {
  max-width: 376px;
  margin-right: 20px;
}

.course__body {
  display: flex;
  position: relative;
}

.course__body::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 43%;
  width: 1px;
  height: 52px;
  background: #dcdcdc;
  margin-top: -26px;
}

.course__input {
  flex: 1 1 auto;
  background: #ffffff;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  border-radius: 13px 0 0 13px;
  font-size: 16px;
  line-height: 142.5%;
  padding-left: 31px;
  border-right: 0;
  height: 78px;
}

.course__select {
  border: 1px solid #dcdcdc;
  flex: 1 1 auto;
  border-left: 0;
  font-size: 16px;
  line-height: 142.5%;
  padding-left: 20px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../img/down.svg) no-repeat center right 30px;
  height: 78px;
}

.course__button {
  display: block;
  background: #0075ff;
  border-radius: 13px;
  padding: 0 79px;
  text-align: center;
  cursor: pointer;
  box-shadow: none;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 78px;
  height: 78px;
  color: #fff;
  margin-left: -10px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.noUi-handle-upper {
  right: 0 !important;
}

.filter-course__date {
  height: 60px;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  border-radius: 9px;
  font-size: 16px;
  line-height: 142.5%;
  color: rgba(0, 0, 0, 0.33);
  padding-left: 24px;
}

.course__flex {
  padding-top: 37px;
  display: flex;
}

.no-webp .course__column__hidden{
  background: #f7f7f7 url(../img/filtr.png) no-repeat center right 20px; }

.course__column__hidden {
  width: 94%;
  padding: 22px 0px 22px 20px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 30px;
  display: none;
}

.filter-course.active {
  display: block;
}

.filter-course__price {
  display: flex;
  margin-bottom: 30px;
}

.filter-course__slider {
  margin-bottom: 31px;
}

.filter-course__name {
  font-size: 16px;
  line-height: 142.5%;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.33);
}

.filter-course__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 178px;
  height: 62px;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  border-radius: 9px;
  padding: 0 20px;
  color: #000;
}

.filter-course__label:first-child {
  margin-right: 20px;
}

.filter-course__input {
  border: none;
  font-size: 16px;
  line-height: 142.5%;
  color: #000;
}

.noUi-connect {
  background: #0075ff;
}

.noUi-horizontal {
  height: 2px;
}

.noUi-target {
  border: 0;
}

.noUi-handle:after,
.noUi-handle:before {
  display: none;
}

.noUi-horizontal .noUi-handle {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #0075ff;
  box-shadow: none;
  top: -9.5px;
}

.noUi-base,
.noUi-connects {
  background: #6095d1;
}

.checkbox {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
}

.checkbox input[type=checkbox] {
  display: none;
}

.checkbox label:after {
  content: "";
  display: block;
  height: 16px;
  width: 16px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

.checkbox input[type=checkbox]:checked + label:after {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: #0075ff;
}

.filter-course__selection {
  margin-bottom: 31px;
  height: 160px;
  overflow: auto;
}

.filter-course__l {
  margin-bottom: 31px;
  display: block;
}

.filter-course__date {
  width: 100%;
}

.filter-course__button {
  background: #0075ff;
  border-radius: 0px 0px 14px 14px;
  cursor: pointer;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  padding: 21px 0;
  display: block;
  width: 100%;
}

.column-course__pad {
  margin: 0 25px;
}

.column-course__inline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.column-course__p {
  font-size: 14px;
  line-height: 142.5%;
  color: #ababab;
}

.column-course__p span {
  color: #000;
}

.column-course__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column-course__item {
  max-width: 48%;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  border-radius: 19px;
  margin-bottom: 20px;
}

.column-course__img {
  width: calc(100% + 2px);
  margin-left: -1px;
  margin-top: -1px;
}

.column-course__img img {
  width: 100%;
}

.column-course__body {
  display: flex;
  justify-content: space-between;
  margin: 17px 0;
}

.column-course__column {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.column-course__column span {
  color: #ababab;
}

.no-webp .column-course__column:last-child{
  background: url(../img/star.png) no-repeat top -0.5px left; }

.column-course__column:last-child {
  padding-left: 20px;
}

.column-course__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 10px;
}

.column-course__flex {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.no-webp .column-course__price{
  background: url(../img/money.png) no-repeat left; }

.column-course__price {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ef476f;
  padding-left: 30px;
}

.column-course__name {
  font-size: 15px;
  line-height: 18px;
}

.column-course__button {
  display: block;
  width: calc(100% + 2px);
  padding: 21px;
  text-align: center;
  background: #0075ff;
  border-radius: 0px 0px 14px 14px;
  margin-top: 22px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  margin-left: -1px;
}

.column-course__dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.column-course__prev {
  margin-right: 17px;
}

.column-course__number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 62px;
  width: 62px;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 14px;
  font-size: 16px;
  margin: 0 7px;
  line-height: 20px;
}

.column-course__number:hover {
  background: #efefef;
}

.column-course__next {
  margin-left: 17px;
}

table {
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  border-radius: 6px;
  width: 1170px;
}

.keke {
  overflow-x: auto;
}

td,
th {
  border: 1px solid #dcdcdc;
  width: 155px;
  height: 80px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 25px;
  text-align: left;
  vertical-align: top;
  font-weight: 500;
  font-size: 14px;
  line-height: 141.9%;
}

td:first-child,
th:first-child {
  width: 195px;
}

.as {
  text-decoration: underline;
  color: #0075ff;
}

.no-webp td:nth-child(3){
  background: url(../img/star.png) no-repeat left 20px top 20px; }

td:nth-child(3) {
  padding-left: 45px;
}

.no-webp td:nth-child(4){
  background: url(../img/money.png) no-repeat left 20px top 20px; }

td:nth-child(4) {
  padding-left: 45px;
  font-weight: 600;
  font-size: 16px;
  line-height: 141.9%;
  color: #ef476f;
}

.no-webp td:nth-child(7){
  background: url(../img/clock.png) no-repeat left 20px top 23px; }

td:nth-child(7) {
  padding-left: 45px;
}

.no-webp td:nth-child(8){
  background: url(../img/Path.png) no-repeat right 30px top 25px; }

td:nth-child(8) {
  color: #0075ff;
}

td:nth-child(8) > a {
  text-decoration: underline;
  color: #0075ff;
}

.paid {
  padding-top: 90px;
}

.paid__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 16px;
}

.paid__form {
  display: flex;
  margin-bottom: 32px;
}

.paid__input {
  font-size: 16px;
  line-height: 142.5%;
  color: rgba(0, 0, 0, 0.33);
  flex: 1 1 auto;
  padding-left: 31px;
  height: 80px;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  border-radius: 13px;
}

.paid__button {
  margin-left: -15px;
  background: #0075ff;
  border-radius: 13px;
  width: 80px;
  height: 80px;
  border: 0;
  cursor: pointer;
}

.salary {
  padding-top: 103px;
  padding-bottom: 90px;
}

.salary__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.salary__column-re {
  margin-top: 20px;
}

.salary__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 68px;
}

.salary__sub-title {
  font-size: 16px;
  line-height: 20px;
}

.salary__wrapper {
  margin-top: 40px;
}

.salary__wrap {
  display: flex;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  padding-left: 33px;
  margin-bottom: 20px;
}

.salary__wrap span {
  font-size: 16px;
  line-height: 140.9%;
  color: rgba(0, 0, 0, 0.48);
}

.salary__money {
  display: flex;
}

.salary__one {
  font-size: 18px;
  line-height: 140.9%;
  margin-right: 100px;
}

.salary__next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 85px;
  text-align: center;
  background: #0075ff;
  box-shadow: 0px 4px 17px 6px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.salary__button {
  display: block;
  text-align: center;
  background: #f7f7f7;
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
  padding: 33px 0;
  color: #000;
}

.school__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 68px;
}

.school__items {
  display: flex;
  margin: 0 -12px;
  flex-wrap: wrap;
  margin-top: 25px;
  justify-content: center;
}

.school__item {
  margin: 0 12px;
  width: 274px;
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 13px;
  height: 107px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursator {
  padding-top: 86px;
}

.cursator__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cursator__title {
  font-size: 28px;
  font-weight: 600;
}

.cursator__icon {
  margin-left: 15px;
}

.cursator__flex {
  margin-top: 107px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cursator__link {
  margin-right: 15px;
  color: #000;
  font-size: 16px;
  line-height: 142.5%;
}

.cursator__link:hover {
  color: #0075FF;
}

.cursator__right {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cursator__up {
  margin-right: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 142.5%;
  margin-top: -2px;
  color: #000;
}

.cursator__up:hover {
  color: #0075FF;
}

.cursator__line {
  width: 100%;
  background: #d9d9d9;
  height: 1px;
  margin-top: 33px;
  margin-bottom: 10px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 50px;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__culumn {
  display: flex;
}

.footer__copy {
  font-size: 16px;
  line-height: 142.5%;
  color: rgba(0, 0, 0, 0.3);
}

.footer__item {
  font-size: 16px;
  line-height: 142.5%;
  margin-left: 46px;
  color: #000000;
}

@media screen and (max-width: 1166px) {
  .slick-arrow.slick-prev {
    right: 25%;
  }

  .slick-arrow.slick-next {
    right: 15%;
  }
}

@media screen and (max-width: 1120px) {
  .sleders-test__item {
    padding-top: 20px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 1030px) {
  .test__row {
    flex-direction: column;
  }

  .test__title {
    margin-bottom: -10px;
  }

  .test__green {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .sleders-test__abs {
    top: -20%;
    right: 2%;
  }

  .slick-arrow {
    top: -20%;
  }

  .slick-arrow.slick-prev {
    left: 5%;
  }

  .slick-arrow.slick-next {
    left: 15%;
  }

  .block-main {
    background: none;
    padding-bottom: 20px;
  }

  .block-main__text {
    font-size: 25px;
  }

  .block-main__button {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 992px) {
  .menu__list {
    position: absolute;
    top: -100%;
    left: 0;
    padding-top: 115px;
    width: 100%;
    height: 100%;
    transition: top 0.5s;
    background: #fff;
  }

  .menu__none {
    display: none;
  }

  .menu__border {
    display: none;
  }

  .menu__link {
    margin-left: 20px;
    margin-right: 40px;
    font-weight: 500;
  }

  .menu__burger {
    display: block;
  }

  .bottom-header {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .course__flex {
    flex-direction: column;
  }

  .course__column__hidden {
    display: block;
  }

  .filter-course {
    margin: 0 auto 20px;
    display: none;
    transition: all 1s;
  }

  .column-course__item {
    max-width: 100%;
  }
}

@media screen and (max-width: 942px) {
  .block-stock {
    flex-direction: column;
    margin-left: -40px;
    margin-right: -40px;
    padding: 0 18px;
  }

  .block-stock__fl {
    display: flex;
    flex-direction: column-reverse;
  }

  .block-stock__left {
    background: none;
    width: 100%;
    padding-left: 0;
  }

  .block-stock__img {
    color: #000;
    text-align: center;
  }

  .block-stock__sub-title {
    color: #000;
    text-align: center;
    margin-bottom: 40px;
  }

  .block-stock__sale {
    color: #000;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  .block-stock__from {
    display: block;
    text-align: center;
    padding: 15px 5px;
    font-size: 16px;
    line-height: 24px;
    width: 275px;
    margin: 0 auto 20px;
  }

  .block-stock__right {
    background: none;
  }

  .block-stock__button {
    width: 100%;
    border-radius: 0px;
    text-align: center;
    padding: 20px 10px;
    background: #0075ff url(../img/ne.svg) no-repeat center right 20px;
  }
}

@media screen and (max-width: 900px) {
  .block-main {
    padding-right: 10px;
    padding-left: 10px;
  }

  .block-main__img {
    display: none;
  }
}

@media screen and (max-width: 885px) {
  .salary__row {
    flex-direction: column;
  }

  .salary__title {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 20px;
  }

  .salary__money {
    flex-direction: column;
    min-height: 140px;
    justify-content: center;
    width: 87%;
  }

  .salary__next {
    align-self: flex-end;
    width: 44px;
    height: 44px;
  }

  .salary__one {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .salary__wrap {
    padding-left: 10px;
  }

  .salary__wrap span {
    font-size: 13px;
  }

  .school__title {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 850px) {
  .footer__culumn {
    flex-direction: column;
  }

  .footer__culumn:first-child {
    display: none;
  }

  .footer__item {
    margin-left: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 817px) {
  .main__row {
    flex-direction: column;
    align-items: flex-start;
  }

  .main__title1 {
    font-size: 32px;
  }

  .main__reiting {
    margin-bottom: 50px;
    margin-top: -20px;
  }

  .main__bottom {
    flex-direction: column;
    align-items: flex-start;
  }

  .main__column1 {
    order: -1;
  }

  .main__column {
    width: 100%;
  }

  .main__text {
    margin-top: 20px;
    width: 100%;
  }

  .main__button {
    width: 100%;
  }

  .test__title {
    font-size: 32px;
    line-height: 38px;
  }
}

@media screen and (max-width: 790px) {
  .course {
    padding-top: 45px;
  }

  .course__title {
    font-size: 24px;
    line-height: 40px;
  }

  .course__body {
    flex-direction: column;
  }

  .course__body::after {
    display: none;
  }

  .course__input {
    border-radius: 13px 13px 0 0;
    border-right: 1px solid #dcdcdc;
    border-bottom: 0;
  }

  .course__select {
    border-left: 1px solid #dcdcdc;
  }

  .course__button {
    margin-left: 0;
    border-radius: 0 0 13px 13px;
  }
}

@media screen and (max-width: 660px) {
  .column-course__inline {
    flex-direction: column;
  }

  .column-course__p {
    font-size: 12px;
    line-height: 142.5%;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 630px) {
  .cursator__row {
    flex-direction: column;
    align-items: flex-start;
  }

  .cursator__title {
    margin-bottom: 20px;
  }

  .cursator__icon {
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
  }

  .cursator__flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .cursator__menu {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 620px) {
  .block-main {
    margin-left: -20px;
    margin-right: -20px;
    border-radius: 0;
  }
}

@media screen and (max-width: 610px) {
  .review-form {
    padding: 20px 20px;
    margin-left: -30px;
    margin-right: -30px;
  }

  .review-form__row {
    flex-direction: column;
    align-items: flex-start;
  }

  .review-form__button {
    margin-top: 30px;
    width: 100%;
    padding: 21px 0;
  }
}

@media screen and (max-width: 600px) {
  .item-reviews {
    padding: 15px 10px;
  }

  .item-reviews__name {
    margin-bottom: 10px;
  }

  .item-reviews__pair {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 555px) {
  .slick-arrow.slick-prev {
    left: 20px;
  }

  .slick-arrow.slick-next {
    left: 90px;
  }
}

@media screen and (max-width: 525px) {
  .slick-slide {
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .filter-course__label {
    width: 135px;
  }
}

@media screen and (max-width: 470px) {
  .menu__list {
    flex-direction: column;
  }

  .menu__list {
    padding-top: 80px;
  }

  .menu__list > li {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 420px) {
  .column-course__pad {
    margin: 0 10px;
  }

  .column-course__price {
    font-size: 13px;
    line-height: 15px;
  }
}

@media screen and (max-width: 400px) {
  .block-main__text {
    font-size: 24px;
    line-height: 29px;
  }
}

@media screen and (max-width: 375px) {
  .cursator__link {
    font-size: 22px;
    margin-bottom: 10px;
    display: inline-block;
  }
}

.webp .main__reiting{ background: url(../img/star.webp) no-repeat left; }

.webp .block-stock__left{ background: url(../img/bgblu.webp) no-repeat; }

.webp .block-stock__right{ background: url(../img/books.webp) no-repeat; }

.webp .slick-arrow.slick-prev{ background: url(../img/sp.webp) no-repeat center; }

.webp .slick-arrow.slick-next{ background: #0075ff url(../img/sn.webp) no-repeat center; }

.webp .block-main{ background: url(../img/bgb.webp) no-repeat; }

.webp .course__column__hidden{ background: #f7f7f7 url(../img/filtr.webp) no-repeat center right 20px; }

.webp .column-course__column:last-child{ background: url(../img/star.webp) no-repeat top -0.5px left; }

.webp .column-course__price{ background: url(../img/money.webp) no-repeat left; }

.webp td:nth-child(3){ background: url(../img/star.webp) no-repeat left 20px top 20px; }

.webp td:nth-child(4){ background: url(../img/money.webp) no-repeat left 20px top 20px; }

.webp td:nth-child(7){ background: url(../img/clock.webp) no-repeat left 20px top 23px; }

.webp td:nth-child(8){ background: url(../img/Path.webp) no-repeat right 30px top 25px; }